.footer {
	margin: 1px;
	display: grid;
	grid-row-gap: 0;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: transparent;
	grid-template-rows: 48px 38px;
	border: solid 1px rgba(0,0,0,0.05);
}

.footer[state='hide'] {
	grid-template-rows: 38px;
}

.footer > div {
	color: #333;
	background-color: transparent;
}

.footer > div input {
	padding: 0;
	height: 100%;
	margin: auto;
	vertical-align: middle;
	box-sizing: border-box;
	width: calc(100% - 32px);
}

.metrics {
	margin: 1px;
	display: grid;
	grid-row-gap: 1px;
	width: calc(100% - 4px);
	grid-template-rows: 1fr;
	height: calc(100% - 4px);
	grid-template-columns: 50% 50%;
	border: solid 1px rgba(0,0,0,0.05);
}

#slider {
	margin: 1px;
	text-align: center;
	width: calc(100% - 4px);
	height: calc(100% - 3px);
	border: solid 1px rgba(0,0,0,0.05);
}

#slider[state="hide"] {
	display: none;
}

#status, #loading {
  margin: 1px;
  padding: 0 10px;
  font-size: 12px;
  user-select: none;
  line-height: 32px;
  white-space: nowrap;
  font-family: monospace;
  box-sizing: border-box;
  text-overflow: ellipsis;
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  background-color: transparent;
  border: solid 1px rgba(0,0,0,0.05);
}

#loading {
	text-align: right;
}

@-moz-document url-prefix() {
  #status, #loading {
    font-size: 12px;
    font-weight: normal;
    font-family: monaco, "andale mono", "lucida console", "courier new", monospace;
  }
}